- var st_url = (page == 'faq' || page == 'sign_up' || page == 'sign_in' || page == 'forgot' || page == 'resend') ? "./" : "";
nav.nav.is_filled
    .nav_inner
        .logo.small-order-1
            a(href=(page=='faq' || page=='sign_up' || page == 'sign_in' || page == 'forgot' || page == 'resend')?"./":"#top")
                img(src="./img/logo.svg", alt="LevelNet")
        ul.menu.show-for-xxlarge.small-order-2
            li
                a(href="#" download) Whitepaper
            li
                a(href=st_url + "#about") Technology
            li
                a(href=st_url + "#team") Team
            if page != 'product'
                li
                    a(href=st_url + "#ico") Token Sale
            li
                a(href=t_url + "#press") Press
            li
                a(href=st_url + "#faq") FAQ
        if page == 'product'
            a.button.hollow.filled.thin.show-for-xxlarge.small-order-3(href="/")
                | Token Sale
        else
            button.button.hollow.filled.thin.show-for-xxlarge.small-order-3(data-open="join")
                if page == 'pre_ico'
                    | Register for Token Sale
                else
                    | Register for Whitelist
        .nav_phone.xxlarge-order-4.small-order-5
            a(href="tel:+823123456")
                span +82 312 34 56
        .nav_lang.xxlarge-order-5.small-order-4
            select.select7.select7_dropdown.select7_remove_current
                option(value="EN") EN
                option(value="CN") CN
                option(value="SP") SP
                option(value="RU") RU
                option(value="GE") GE
                option(value="FR") FR
        button.hamb.hide-for-xxlarge.small-order-6(data-open="menu")