aside.column.large-3
    nav.profile_menu
        ul.menu.vertical
            li(class=page==='purchase' ? 'active' : '')
                a(href="#") Purchase
            li(class=page==='history' ? 'active' : '')
                a(href="#") Payment History
            li(class=page==='bonuses' ? 'active' : '')
                a(href="#") Bonuses
            li(class=page==='refferal' ? 'active' : '')
                a(href="#") Referral Program
            li(class=page==='kyc' ? 'active' : '')
                a(href="#") KYC/AML
            li(class=page==='faq' ? 'active' : '')
                a(href="#") FAQ