aside.column.large-3
    nav.profile_menu
        ul.menu.vertical
            li(class=page==='purchase' ? 'active' : '')
                a(href="./profile_purchase.html") Purchase
            li(class=page==='history' ? 'active' : '')
                a(href="./profile_history.html") Payment History
            li(class=page==='bonuses' ? 'active' : '')
                a(href="./profile_bonuses.html") Bonuses
            li(class=page==='referral' ? 'active' : '')
                a(href="./profile_referral.html") Referral Program
            li(class=page==='kyc' ? 'active' : '')
                a(href="./profile_kyc.html") KYC/AML
            li(class=page==='faq' ? 'active' : '')
                a(href="#") FAQ